# Python 3.12.3

# ffmpeg to convert audio files
# https://ffmpeg.org/download.html#build-windows
# https://www.geeksforgeeks.org/how-to-install-ffmpeg-on-windows/

# WeSpeaker
git+https://github.com/wenet-e2e/wespeaker.git

# PyTorch with GPU support
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchaudio

black[jupyter]==24.4.2
notebook==7.1.3
pydub==0.25.1
setuptools==69.5.1
librosa==0.10
